{%extends "layout.html"%}{% block body%}

<form action="/create/new/time" method="post" class="col dashboard-style">
    <label>Add time</label>
    <input type="hidden" name="coach_id" id="" value="{{session.coach_id}}" />
    <hr class="mb-4" />
    <label for="relay">relay:</label>
    <input type="checkbox" name="relay" value="Relay" id="relay_check" />

    <!-- option 1:  have selects already here, just with a hidden class -->
    <!-- option 2: have two ids to target out loop = selects,  inner = options -->
    {#% for i in range(5) %#}
    <input type="hidden" name="isRelay" id="isRelay" value="0" />
    <div id="athlete_select"></div>
    <select name="athlete_id" id="">
        {% if athletes %} {% for athlete in athletes %}
        <option value="{{athlete.id}}">
            {{athlete.last_name}}, {{athlete.first_name}}
        </option>
        {% endfor %} {% else %}
        <p>
            There are no Athletes to add times to. Go to add athletes to update
            roster.
        </p>
        {% endif %}
    </select>
    {#% endfor %#}
    <!-- need option to display multiple athletes, Use JS -->
    <label
        >Event:
        <select name="event_id" id="">
            <!-- may need 'if events' -->
            {% for event in events %}
            <option value="{{event.id}}">{{event.name}}</option>
            {% endfor %}
        </select>
    </label>
    <label
        >time:
        <label >Minutes:
            <input type="number" name="minutes" value="0">
        </label>
        <label for="">
            Seconds:
        <input
            type="number"
            required
            name="time"
            min="0"
            value="0"
            step="0.01"
        />
    </label>
    </label>

    <label
        >date:
        <input type="date" required name="date" />
    </label>
    <input type="submit" name="" id="" value="Add Time" />
</form>
coach ID:
<p>{{session.coach_id}}</p>
</div>
{% with messages = get_flashed_messages(category_filter=['time']) %}
<!-- declare a variable called messages -->
{% if messages %}
<!-- check if there are any messages -->
{% for message in messages %}
<!-- loop through the messages -->
<p>{{message}}</p>
<!-- display each message in a paragraph tag -->
{% endfor %} {% endif %} {% endwith %}

{% endblock %}
