{%extends "layout.html"%}{% block body%} 


<form
action="/coach/create_post/{{session['coach_id']}}"
method="post"
class="col dashboard-style"
>
<label>New Post</label>
<hr class="mb-4" />
<label
    >Content:
    <input type="text" name="content" required/>
</label>
<input type="hidden" name="coach_id" value="{{session['coach_id']}}">
<input type="submit" value="Create Post" />
</form>

{% with messages =
get_flashed_messages() %}
<!-- declare a variable called messages -->
{% if messages %}
<!-- check if there are any messages -->
{% for message in messages %}
<!-- loop through the messages -->
<p>{{message}}</p>
<!-- display each message in a paragraph tag -->
{% endfor %} {% endif %} {% endwith %} {% endblock %}

