{%extends "layout.html"%}{% block body%}

<form action="/create/new/time" method="post" class="col dashboard-style">
    <label>Add time</label>
    <input type="hidden" name="coach_id" id="" value="{{session.coach_id}}" />
    <hr class="mb-4" />
    <select name="athlete_id" id="">
        <!-- may need 'if athletes' -->
        {% for athlete in athletes %}
        <option value="{{athlete.id}}">
            {{athlete.last_name}}, {{athlete.first_name}}
        </option>
        {% endfor %}
    </select>
    <!-- need option to display multiple athletes, Use JS -->
    <label
        >Event:
        <select name="event_id" id="">
            <!-- may need 'if events' -->
            {% for event in events %}
            <option value="{{event.id}}">{{event.name}}</option>
            {% endfor %}
        </select>
    </label>
    <label
        >time:
        <input
            type="number"
            required
            name="time"
            min="0"
            value="0"
            step="0.01"
        />
    </label>

    <label
        >date:
        <input type="date" required name="date" />
    </label>
    <input type="submit" name="" id="" value="Add Time" />
</form>
coach ID:
<p>{{session.coach_id}}</p>

{% endblock %}
