{%extends "layout.html"%}{%block body%}


<h1>{{session.first_name}}, {{session.coach_id}}</h1>


{%if session.coach%}
<form action="/coach/add_athletes"><button type="submit" class="btn btn1">Add Student</button></form>
<form action="coach/roster/{{session.coach_id}}"><button type="submit" class="btn btn1">View Roster</button></form>
<form action="/coach/create_post_page/{{session.coach_id}}"><button type="submit" class="btn btn1">Create New Post</button></form>
<form action="/coach/create/times"><button type="submit" class="btn btn1">Add Times</button></form>
{%endif%}

{%if coach_posts%}
<table>
    <tr>
        <th>Post Content</th>
        <th>Actions</th>
    </tr>
{%for post in coach_posts%}
    <tr>
        <td>{{post.content}}</td>
        {%if session.coach%}
        <td class="btn-container">
            <form action="/post/{{post.id}}/edit_page" method=post><button class="btn btn1" type="submit">Edit</button></form>
            <form action="/post/{{post.id}}/delete" method=post><button class="btn btn1" type="submit">Delete</button></form>
            <form action="/post/{{post.id}}/comment" method=post><button class="btn btn1" type="submit">View</button></form>
        </td>
        {%endif%}
        {%if session.athlete%}
        <td class="btn-container">
            <form action="/post/{{post.id}}/comment" method=post><button class="btn btn1" type="submit">Comment</button></form>
            <form action=/post/{{post.id}}/like method=post><button class="btn btn1" type="submit">Like</button></form>
        </td>
        {%endif%}

    </tr>
{%endfor%}
</table>
{%endif%}
<div>
{%if roster%}
{%for athlete in roster%}
<img src="{{url_for('static',filename='assets/athlete_icon.png')}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
<p>{{athlete.full_name}}</p>
{%endfor%}
{%endif%}
</div>


{% endblock %}
