{%extends "layout.html"%}{%block body%}


<h1>{{session.first_name}}, {{session.coach_id}}</h1>


{%if session.coach%}
<form action="/coach/add_athletes"><button type="submit" class="btn btn1">Add Student</button></form>
<form action="coach/roster/{{session.coach_id}}"><button type="submit" class="btn btn1">View Roster</button></form>
<form action="/coach/create_post_page/{{session.coach_id}}"><button type="submit" class="btn btn1">Create New Post</button></form>
<form action="/coach/create/times"><button type="submit" class="btn btn1">Add Times</button></form>
{%endif%}

{%if coach_posts%}
<table>
    <tr>
        <th>Post Content</th>
        <th>Actions</th>
    </tr>
{%for post in coach_posts%}
    <tr>
        <td>{{post.content}}</td>
        {%if session.coach%}
        <td><a href="/post/{{post.id}}/edit_page">Edit</a> - <a href="/post/{{post.id}}/delete">Delete</a> - <a href="/post/{{post.id}}/comment">View</a></td>
        {%endif%}
        {%if session.athlete%}
        <td><a href="/post/{{post.id}}/comment">Comment</a> - <form action=/post/{{post.id}}/like method=post><button type="submit">Like</button></form></td>
        {%endif%}

    </tr>
{%endfor%}
</table>
{%endif%}


{% endblock %}
