{%extends "layout.html"%}{% block body%}
<div class="main">
    <h2 class="text-left">Welcome {{session.first_name}}</h2>
    <h3 class="light text-center">Upcoming Events Near You</h3>
    {% if events %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">When</th>
                <th scope="col">Location</th>
                <th scope="col">Host</th>
                <th>RSVP</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    <a href="/event_details/{{event.id}}"
                        >{{event.event_name}}</a
                    >
                </td>
                <td>
                    {{event.date.strftime('%B %d, %Y')}} {{event.start_time}} to
                    {{event.end_time}}
                </td>
                <td>{{event.location}}, {{event.city}}, {{event.state}}</td>
                <td>{{event.host.first_name}} {{event.host.last_name}}</td>

                <td>
                    <form action="/RSVP/{{event.id}}" , method="post">
                        <input
                            type="hidden"
                            name="user_id"
                            value="{{session.user_id}}"
                        />
                        <input
                            type="hidden"
                            name="event_id"
                            value="{{event.id}}"
                        />
                        <input
                            type="submit"
                            name="RSVP"
                            id="rsvp_btn"
                            value="RSVP"
                        />
                    </form>
                </td>
            </tr>
            {% else %}
            <p>No upcoming events near you</p>
            {% endfor %}
        </tbody>
    </table>

    {% endif %} {% if hosted_events%}
    <h2>My Events</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">When</th>
                <th scope="col">Location</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in hosted_events %}
            <tr>
                <td>
                    <a href="/event_details/{{event.id}}"
                        >{{event.event_name}}</a
                    >
                </td>
                <td>{{event.date}} {{event.start_time}} {{event.end_time}}</td>
                <td>{{event.location}}, {{event.city}}, {{event.state}}</td>
                <td>
                    <a href="/edit/event/{{event.id}}">Edit</a>
                    <a href="/delete/event/{{event.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
