{%extends "layout.html"%}{% block body%}
<h1>Inbox</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {%for message in messages%}
        <tr>
            <td>{{message.sender.full_name}}</td>
            <td>{{message.content}}</td>
            <td>{{message.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock %}
</table>
