{%extends "layout.html"%}{% block body%}
<div class="container form-style padding border-radius">
    <div class="form-style-light font-light border-radius text-center">
        {% if session.coach %}
            <h2>Total in roster:</h2>
        {% elif session.athlete %}
            <h2>Total on team:</h2>
        {% endif %}
    </div>
    <hr style="color: black;" size="5">  
    <table class="table form-style-light font-light border-radius">
        <thead>
            <tr>
                <td>First Name</td>
                <td>last Name</td>
                <td>email</td>
            </tr>
        </thead>
        <tbody>
            {% if athletes %} {% for athlete in athletes %}
            <tr class="menu-login">
                <td>{{athlete.first_name}}</td>
                <td>{{athlete.last_name}}</td>
                <td>{{athlete.email}}</td>
                <td>
                    <a href="/coach/update/athlete/display/{{athlete.id}}" class="btn btn1">Edit</a>
                </td>
                <td>
                    <a href="/athlete/view/{{athlete.id}}" class="btn btn1">View</a>
                </td>
            </tr>
            {% endfor%} {%else%}
            <p>Roster is Empty</p>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}