{%extends "layout.html"%}{% block body%}

<div class="center">
    <div class="pt-3">
        <form
            action="/search_by_user_loc"
            method="post"
            id="search_by_user_loc"
            class="text-center"
        >
            <input type="submit" value="Find events near me" />
        </form>
        <!-- <a href="/search_by_user_loc" >
                    events near me</a -->
        <p class="text-center mt-4">
            Or customize search below
            <!-- ajax -->
        </p>
        <form action="/search_results" id="search_events_form" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto mx-4">
                    <div class="mb-3">
                        <label for="text" class="form-label">Location:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="autocomplete"
                            name="location"
                            placeholder="Specific name (Zilker Park, Brewery, etc.)"
                        />
                    </div>
                    <div class="col-auto mx-4">
                        <label class="sr-only" for="inlineFormInputGroup"
                            >Date:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="inlineFormInputGroup"
                            name="date"
                        />
                    </div>
                </div>
                <!-- <div class="col-auto mx-4 my-2">
          <div class="form-check ">
            <label class="form-check-label" for="state">
              State
            </label>
            <select name="state" id="">
              {% for state in states %}
              <option value="{{state}}">{{state}}</option>
              {% endfor %}
            </select>
          </div>
        </div> -->
                <div class="col-auto d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mb-2">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="result-table"></div>
<!-- <table class="table table-bordered table_marg">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">When</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody id="results"></tbody>
</table> -->
<ul>
    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <li>{{message}}</li>
    <!-- display each message in a paragraph tag -->
    {% endfor %} {% endif %} {% endwith %}
</ul>

{% endblock %}
