{%extends "layout.html"%}{% block body%}

<!-- <div class="d-flex align-items-center"> -->
<div class="d-flex justify-content-evenly mt-5">
    <div>
        <h1>{{user.first_name}}</h1>
        <h3>{{user.user_city}}, {{user.user_state}}</h3>
        <h4>Bio:</h4>
        <p>{{user.bio}}</p>
        <a href="#">bandcamp link</a>
        <a href="#">instagram link</a>
        <a href="#">spotify link</a>
    </div>

    <form action="/create_message" method="POST">
        <input name="sender_id" type="hidden" value="{{user.id}}" />
        <input name="recipient_id" type="hidden" value="{{session.user_id}}" />
        <label for="content">Message {{user.first_name}}</label>
        <textarea name="content" id="" cols="20" rows="5"></textarea>
        <br />
        <input type="submit" value="submit" class="text-center" />
    </form>
</div>
<!-- </div> -->
{% endblock %}
