{%extends "layout.html"%}{% block body%}

<div class="card mb-3">
    <img
        src="{{url_for('static', filename='/assests/jamsession.jpg')}}"
        class="card-img-top"
        alt="music-picture"
    />
    <div class="d-flex">
        <!-- need to get map to have responsive sizing -->
        <div class="card-body">
            <!-- card-body -->
            <h5 class="card-title">{{event.event_name}}</h5>
            <h6>
                When: {{event.date.strftime('%B %d, %Y')}} {{event.start_time}}
                {{event.end_time}}
            </h6>
            {%if r.candidates != [] %}
            <h6>{{r.candidates[0].formatted_address}}</h6>
            {% else %}
            <h6>{{event.location}} {{event.city}}, {{event.state}}</h6>
            {% endif %}
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">
                <small class="text-muted"
                    >Hosted by:
                    <a href="/user/profile/{{event.user_id}}"
                        >{{event.host.full_name}}</a
                    >
                    <p><a href="/">Home</a></p>
                </small>
            </p>
            {% if r.candidates != [] %}
            <div class="mx-5">
                <iframe
                    style="border: 3"
                    loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:{{r.candidates[0].place_id}}&key=AIzaSyDiuDwsqOke9BM1-IIHO3Po4Djx3znCfqs"
                ></iframe>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- width="300"
                height="225" -->
