{%extends "layout.html"%}{% block body%}
<h1>You've successfully created an event</h1>
<div class="card mb-3">
    <img
        src="{{url_for('static', filename='/assests/jamsession.jpg')}}"
        class="card-img-top"
        alt="music-picture"
    />
    <div class="center">
        <div class="card-body">
            <h5 class="card-title">{{event.event_name}}</h5>
            <h6>
                Location: {{event.location}}, {{event.city}}, {{event.state}}
            </h6>
            <h6>
                When: {{event.date.strftime('%B %d, %Y')}} {{event.start_time}}
                {{event.end_time}}
            </h6>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">
                <small class="text-muted"
                    ><span
                        >Hosted by:
                        <a href="/user/profile/{{event.user_id}}"
                            >{{event.host.full_name}}</a
                        ></span
                    >
                </small>
            </p>
            <a href="/edit/event/{{event.id}}">Edit</a>
            <a href="/">Home</a>
        </div>
    </div>
    <div class="mx-5"></div>
</div>
{% endblock %}
