{%extends "layout.html"%}{% block body%}
<h1>Update Post</h1>
<form action="/post/edit" method="post" class="col dashboard-style">
    <label>Update Post Details</label>
    <hr class="mb-4" />
    <label
        >Content:
        <input type="text" name="first_name" value="{{post.content}}" />
    </label>
    <label
        >Time:
        <input type="text" name="last_name" value="{{post.last_name}}" />
    </label>
    <input type="hidden" name="id" value="{{post.id}}">
    <input type="submit" value="Update Post" />
</form>

<!-- Display times -->

{% with messages = get_flashed_messages() %}
<!-- declare a variable called messages -->
{% if messages %}
<!-- check if there are any messages -->
{% for message in messages %}
<!-- loop through the messages -->
<p>{{message}}</p>
<!-- display each message in a paragraph tag -->
{% endfor %} {% endif %} {% endwith %} {% endblock %}
