{%extends "layout.html"%}{% block body%}
<h1>Update Athlete</h1>
<form action="/coach/update/athlete" method="post" class="col dashboard-style">
    <label>Update Athlete</label>
    <hr class="mb-4" />
    <label
        >First Name:
        <input type="text" name="first_name" value="{{athlete.first_name}}" />
    </label>
    <label
        >Last Name:
        <input type="text" name="last_name" value="{{athlete.last_name}}" />
    </label>
    <label
        >Email:
        <input type="text" name="email" value="{{athlete.email}}" />
    </label>
    <label>Password: <input type="password" name="password" /></label>
    <input type="submit" value="add athlete" />
</form>
coach ID:
<p>{{session.coach_id}}</p>

<table class="table">
    <thead>
        <tr>
            <td>event</td>
            <td>time</td>
            <td>date</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{#{athlete_time.event}}</td>
            <td>{{athlete_time.time}#}</td>
        </tr>
    </tbody>
</table>

<!-- Display times -->

{% with messages = get_flashed_messages() %}
<!-- declare a variable called messages -->
{% if messages %}
<!-- check if there are any messages -->
{% for message in messages %}
<!-- loop through the messages -->
<p>{{message}}</p>
<!-- display each message in a paragraph tag -->
{% endfor %} {% endif %} {% endwith %} {% endblock %}
