{%extends "layout.html"%}{% block body%}
<h1>Update Athlete</h1>
<form action="/coach/update/athlete" method="post" class="col dashboard-style">
    <label>Update Athlete</label>
    <hr class="mb-4" />
    <label
        >First Name:
        <input type="text" name="first_name" value="{{athlete.first_name}}" />
    </label>
    <label
        >Last Name:
        <input type="text" name="last_name" value="{{athlete.last_name}}" />
    </label>
    <label
        >Email:
        <input type="text" name="email" value="{{athlete.email}}" />
    </label>
    <label>Password: <input type="password" name="password" /></label>
    <input type="submit" value="update athlete" />
</form>
coach ID:
<p>{{session.coach_id}}</p>

<table class="table">
    <thead>
        <tr>
            <td>event</td>
            <td>time</td>
            <td>date</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {%if athlete_times %} {% for athlete_time in athlete_times %}
        <tr>
            <form action="/time/update" method="post">
                <input type="hidden" name="id" value="{{athlete_time.id}}" />
                <td>
                    <select name="event_id" id="">
                        {% for event in events %} {% if event.name ==
                        athlete_time.name%}
                        <option value="{{event.id}}" selected>
                            {{event.name}}
                        </option>
                        {% else %}
                        <option value="{{event.id}}">{{event.name}}</option>
                        {% endif %} {% endfor %}
                    </select>
                </td>
                <td>
                    <input
                        type="number"
                        name="time"
                        id=""
                        value="{{athlete_time.time}}"
                    />
                </td>
                <td>
                    <input
                        type="date"
                        class="form-control"
                        id="date"
                        name="date"
                        value="{{athlete_time.date}}"
                        required
                    />
                </td>
                <td>
                    <input type="submit" name="" id="" value="update-times" />
                </td>
            </form>
        </tr>
        {% endfor%} {% else %}
    </tbody>
</table>
<p>No times to display</p>
{%endif%}

<!-- Display times -->

{% with messages = get_flashed_messages() %}
<!-- declare a variable called messages -->
{% if messages %}
<!-- check if there are any messages -->
{% for message in messages %}
<!-- loop through the messages -->
<p>{{message}}</p>
<!-- display each message in a paragraph tag -->
{% endfor %} {% endif %} {% endwith %} {% endblock %}
