{%extends "layout.html"%}{% block body%}
<div class="container form-style padding border-radius">
    <div class="form-style-light font-light border-radius text-center">
        <h2 class="font-light">{{ athlete.full_name }}</h2>
    </div>
    <hr style="color: black" size="5" />
    <table class="table form-style-light font-light border-radius">
        <thead>
            <tr>
                <td>First Name</td>
                <td>last Name</td>
                <td>email</td>
            </tr>
        </thead>
        <tbody>
            {% if athlete%}
            <tr class="menu-login">
                <td>{{athlete.first_name}}</td>
                <td>{{athlete.last_name}}</td>
                <td>{{athlete.email}}</td>
                {%if session['coach']%}
                <td>
                    <a
                        href="/coach/update/athlete/display/{{athlete.id}}"
                        class="btn btn1"
                        >Edit</a
                    >
                </td>
                {%endif%}
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{%if times%}
<table class="table">
    <tr>
        <td>Event</td>
        <td>Date</td>
        <td>Time</td>
    </tr>
    {%for time in times%}
    <tr>
        <td>{{time.event}}</td>
        <td>{{time.date}}</td>
        <td>{{time.time}}</td>
    </tr>
    {%endfor%}
</table>
{%endif%} {% endblock %}
